
.footer {
  margin: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  background-color: $dark-grey;
  position:fixed;
  bottom:0;
  width:100%;
  @include for-phone-only {
    padding: 5px 0;
  }
  @include for-tablet-only {
    padding: 25px 0;
  }
  @include for-desktop-only {
    padding: 35px 0;
  }

  &__p {
    color: $ice;
    margin: 0;
    letter-spacing: 1.5px;
    @include for-phone-only {
      font-size: 16px;
    }
    @include for-tablet-only {
      font-size: 20px;
    }
    @include for-desktop-only {
      font-size: 24px;
    }
  }
}