
.top-container {
  background-color:rgb(48, 48, 48);
}

.header {
  color: rgba(245, 57, 204, 0.89);
  text-align: center;
  padding-top: 20px;
}

.header .header-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav .nav-ul {
  display: flex;
  flex-direction: row;
}

.nav .nav-ul .nav-li{
  padding: 20px;
}

.nav .nav-ul .nav-li a{
  text-decoration: none;
  color: white;
}

.main-container-logo {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: bottom;
}