//color variables
$purple: rgba(245, 57, 204, 0.89);
$dark-grey: rgb(48, 48, 48);
$light-grey: rgb(216, 216, 216);
$ice: rgb(221, 221, 221);

//placeholder selector
%no-decoration {text-decoration: none;}

//mixin selector
@mixin flexbox ($property, $justify) {
  display: flex;
  #{$property}: $justify //propriedade de conteúdo variável de acordo com o style
}

@mixin for-phone-only {
  @media (max-width: 767.98px) { @content;}
}

@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1399.98px) { @content;}
}

@mixin for-desktop-only {
  @media (min-width: 1400px) { @content;}
}

@import 'header', 'footer', 'contact';

// _______________________________________________

//sass styles & nesting
.top-container {
  background-color: $dark-grey;
  position: relative;
  bottom: 100;
}

.main-container {
  
  @include for-phone-only {
    width: 100%;
  }
  @include for-tablet-only {
    width: 90%;
    margin-left:5%;
  }
  @include for-desktop-only {
    width: 84%;
    margin-left:8%;
  }
}

.main-container-logo {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}

.main {
  &__title {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    @include for-phone-only {
      font-size: 24px;
    }
    @include for-tablet-only {
      font-size: 30px;
    }
    @include for-desktop-only {
      font-size: 36px;
    }
  }

  &__p {
    text-align: justify;
    letter-spacing: 1.5px;
    padding: 5px;
    @include for-phone-only {
      font-size: 16px;
    }
    @include for-tablet-only {
      font-size: 20px;
    }
    @include for-desktop-only {
      font-size: 24px;
    }
  }

  &__dd {
    text-align: justify;
    letter-spacing: 1.5px;
    padding: 5px;
    @include for-phone-only {
      font-size: 14px;
    }
    @include for-tablet-only {
      font-size: 18px;
    }
    @include for-desktop-only {
      font-size: 22px;
    }
  }

  &__dt {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    @include for-phone-only {
      font-size: 16px;
    }
    @include for-tablet-only {
      font-size: 20px;
    }
    @include for-desktop-only {
      font-size: 24px;
    }
  }

  &__pre {
    text-align: center;
    padding: 10px;
    letter-spacing: 1.1px;
    max-width: 100%;
    background-color: $light-grey;
    @include for-phone-only {
      font-size: 12px;
    }
    @include for-tablet-only {
      font-size: 16px;
    }
    @include for-desktop-only {
      font-size: 20px;
    }
  }

  &__comment {
    background-color: $purple;
    font-weight: bold;
    color: black;
    text-align: center;
    letter-spacing: 2px;
    margin: 30px;
    padding: 15px;
    @include for-phone-only {
      font-size: 26px;
    }
    @include for-tablet-only {
      font-size: 32px;
    }
    @include for-desktop-only {
      font-size: 38px;
    }
  }

  &__links {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
  }

  &__link {
    padding: 20px;
    background-color: $light-grey;
    color: $purple;
    transition: 0.3s;
    border-radius: 5%;
    @include for-phone-only {
      font-size: 18px;
    }
    @include for-tablet-only {
      font-size: 20px;
    }
    @include for-desktop-only {
      font-size: 22px;
    }
    @extend %no-decoration;

    &:hover {
      background-color: $purple;
      color: $dark-grey;
    }
  }
}


