//color variables
$purple: rgba(245, 57, 204, 0.89);
$grey: rgb(48, 48, 48);
$ice: rgb(221, 221, 221);

//sass styles & nesting
.top-container {
  background-color: $grey;
  position: relative;
  bottom: 100;
}

.header {
  color: $purple;
  text-align: center;
  padding-top: 20px;

  &__title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.nav {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  &__ul {
    display: flex;
    flex-direction: row;
  }

  &__li{
    padding: 20px;
  }

  &__li a{
    text-decoration: none;
    color: $ice;
  }
}

.main-container-logo {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin: 0;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: $grey;

  &__p {
    color: $ice;
    margin: 0;
    font-size: 16px;
  }
}

.main-content {
  height: 80vh;
}